.jcarousel-wrapper {
    position: relative;
}
#content .jcarousel-wrapper {
	margin-bottom: 20px;
}
.block .jcarousel-wrapper {
    float: right;
	margin: 13px 13px 13px 0;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
	margin-left:0px !important;
	padding-left:0px !important;
    float: left;
}

/** Carousel Controls **/

a.jcarousel-control-prev,
a.jcarousel-control-next {
    position: absolute;
    top: 50px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    text-decoration: none;
	font-size: 26px;
}
#content a.jcarousel-control-prev, #content a.jcarousel-control-next {
	position: absolute;
	top: 110px;
	width: 90px;
	height: 65px;
	line-height: 85px;
	font-size: 65px;
}

.jcarousel-control-prev {
    left: -17px;
}

.jcarousel-control-next {
    right: -17px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
